replicas: 1

minimumMasterNodes: 1

esJavaOpts: "-Xms512m -Xmx512m"

resources:
  requests:
    cpu: 200m
    memory: 1Gi
  limits:
    cpu: 1
    memory: 2Gi

volumeClaimTemplate:
  accessModes: ["ReadWriteOnce"]
  resources:
    requests:
      storage: 5Gi

antiAffinity: "soft"

