name: Order Service CI

on:
  push:
    branches: [ "master" ]
    paths:
      - "apps/order-service/**"

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        run: |
          echo "${{ secrets.GHCR_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build and push Docker image
        run: |
          docker build -t ghcr.io/akansh23-cloud/order-service:latest apps/order-service
          docker push ghcr.io/akansh23-cloud/order-service:latest
